body {
  margin-top: 80px!important;
  padding: 0;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  background-color: white;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

h6.comment-name {
    float: left;
    margin-right: 20px;
}

.post__container {
  width: 380px;
  margin: 0 auto;
}

h1 {
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

h2 {
  font-size: 16px;
}

ul > li {
  padding: 3px 0;
}

.pull-right {
  float: right;
}

.fs12 {
  font-size: 12px;
  font-weight: normal;
}

input[type=text] {
  width: 200px;
  padding: 5px;
}

input[type=submit] {
  width: 100px;
}

textarea {
  padding: 5px;
  width: 350px;
  height: 80px;
}

.hidden {
  display: none;
}

.flash_message {
  text-align: center;
  padding: 5px;
  color: green;
  background: Lavender;
}

.error {
  font-size: 12px;
  color: tomato;
  padding: 3px 0;
  display: block;
}

.pagination {
    margin: 20px auto!important;
    display: table!important;
}

.blog__contents {
    word-wrap: break-word;
}
.blog__image {
    max-width: 400px;
}

.user__title {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  text-align: center;
}


.navbar-default {
    position: absolute!important;
    top: 0px!important;
}

.container {
  width: 1230px!important;
}

.add-comments {
  width: 130px!important;
  height: 38px;
}

ul.comment__content {
    background-color: white;
}

form.comment__form {
    padding-bottom: 20px;
}

.all-comments {
    margin-top: 35px;
    background-color: #f2f2f2;
    padding: 10px 10px;
}
input.commentbox {
    width: 85px;
    height: 20px;
    font-size: 5px;
}

input.submit-comments {
    width: 52px;
    font-size: 5px;
    height: 20px;
}

li.comment_from_comment {
    margin-left: 20px;
}

.reply-body {
    font-size: 12px;
}